.col-sm-3
  .card
    %img.card-img-top.img-fluid{:src => "#{movie.banner_url ? movie.banner_url : '//placehold.it/500x200'}", :size => "500x200"}/
    .card-block.p-3
      %h4.card-title= link_to movie.name, movie_path(movie)
      %p.card-text=movie.description
      %p.card-text
        %small.text-muted=movie.actors